* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e236c;
}
.date {
  background-color: #c8acd6;
  padding: 10px 50px;
  border-radius: 8px;
  border: none;
  margin: auto;
}
